.DS_Store
doc/**/*.css
doc/**/*.js
doc/**/*.html
.yardoc/*
png-mazes/
logs/**/*.log
coverage/*
coverage
event_logs/**/*.jsonl
event_logs/*.jsonl
event_visualizations/**/*.html
test_results/**/*.log
test_results/